<!-- Services Section -->
    <section id="services">   
        <div class="container"> 
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Производимые работы</h2>
                    <h3 class="section-subheading">    
Чебоксарский институт по проектированию объектов промышленного и гражданского строительства "ПГС-Проект". мМ предлагаем нашим заказчикам широкий спектр услуг: строительное проектирование, изыскания, надзор, экспертиза, инжиниринг.
За годы работы были выполнены сотни проектов различной типологии. Нашими заказчиками были: ОАО "Выксунский металлургический завод", ОАО "Чебоксарский агрегатный завод", ЗАО "Прочность", ООО "Чебоксарский завод силовых агрегатов", ООО НПП "ЭКРА", ООО "Керамика" (входит в Roca Group) , ЗАО "Чувашкабельмет", ООО "Гудзон", Сбербанк РФ, МВД РФ, ФСБ РФ, другие организации и частные лица. </h3>                    
                </div>
            </div>
        </div>
    </section>